        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body,
        html {
            font-family: "Figtree", sans-serif;

            color: white;
            line-height: 26px;
            font-weight: 500;
            overflow-x: hidden;
            overflow-x: hidden;
            width: 100%;
            max-width: 100%;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
        }

        /* --- HEADER & NAVIGATION --- */
        header {
            width: 90%;
            max-width: 1400px;
            position: fixed;
            top: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 8px;
            background-color: #5032b7;
            backdrop-filter: blur(10px);
            z-index: 100;
        }

        nav {
            display: flex;
            padding: 10px 16px;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        nav img {
            height: 40px;
            width: auto;
            flex-shrink: 0;
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 24px;
            flex-wrap: nowrap;
        }

        .nav-links a {
            color: white;
            font-size: 15px;
            font-weight: 700;
            white-space: nowrap;
        }

        .nav-links a:hover,
        .nav-links a.active {
            color: white;
            opacity: 0.85;
        }

        .started {
            color: white;
            flex-shrink: 0;
        }

        .started-btn {
            background-color: white;
            color: #3b1baa;
            padding: 8px 8px 8px 20px;
            border-radius: 50px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            white-space: nowrap;
        }

        .btn-span {
            background: linear-gradient(90deg, rgb(235, 232, 246) 0%, rgb(240, 239, 253) 100%);
            height: 36px;
            width: 36px;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            font-size: 20px;
            margin-left: 6px;
        }

        .menu-btn {
            display: none;
            background: transparent;
            border: none;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            flex-shrink: 0;
        }

        .started-btn,
        .cons-btn,
        .about-btn,
        .price-btn,
        .price-middle-card-btn,
        .sec-left button,
        .footer-btn {
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .started-btn::before,
        .cons-btn::before,
        .about-btn::before,
        .price-btn::before,
        .price-middle-card-btn::before,
        .sec-left button::before,
        .footer-btn::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0%;
            height: 100%;
            background: #4f46e5;
            transition: 0.4s ease;
            z-index: -1;
            transform: translateX(-50%);
        }

        .started-btn:hover::before,
        .cons-btn:hover::before,
        .about-btn:hover::before,
        .price-btn:hover::before,
        .price-middle-card-btn:hover::before,
        .sec-left button:hover::before,
        .footer-btn:hover::before {
            width: 120%;
        }

        .started-btn:hover,
        .cons-btn:hover,
        .about-btn:hover,
        .price-btn:hover,
        .price-middle-card-btn:hover,
        .sec-left button:hover,
        .footer-btn:hover {
            color: white;
        }


        @media (max-width: 1024px) {
            header {
                width: 94%;
            }

            .nav-links {
                gap: 16px;
            }

            .nav-links a {
                font-size: 14px;
            }
        }

        @media (max-width: 768px) {
            header {
                width: 94%;
                top: 12px;
                margin-left: 100px;
            }

            .nav-links {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
                position: absolute;
                top: calc(100% + 8px);
                left: 0;
                right: 0;
                background-color: #5032b7;
                border-radius: 8px;
                padding: 12px 0;
                z-index: 99;
            }

            .nav-links.open {
                display: flex;
            }

            .nav-links li {
                width: 100%;
            }

            .nav-links a {
                display: block;
                padding: 12px 24px;
                font-size: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .nav-links li:last-child a {
                border-bottom: none;
            }

            .started {
                display: none;
            }

            .menu-btn {
                display: block;
            }
        }

        @media (max-width: 480px) {
            header {
                width: 96%;
                top: 10px;
                border-radius: 6px;
                margin-right: -500px;
            }

            nav {
                padding: 8px 12px;
            }

            nav img {
                height: 34px;
            }

            .menu-btn {
                font-size: 1.7rem;
            }
        }

        /* --- HERO SECTION --- */
        .hero {
            margin: auto;
            padding: 100px min(100px, 6%) 0 min(100px, 6%);
            background: url(images/vl-hero-bg-4.1.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
            overflow: hidden;
            position: relative;
        }

        .hero-content {
            flex: 1;
        }

        .hero-subtitle {
            background: #6143cd;
            display: inline-block;
            line-height: 16px;
            font-size: 16px;
            padding: 10px 14px;
            border-radius: 50px;
            margin: 0;
            font-weight: 600;
        }

        .hero-content h1 {
            font-size: clamp(32px, 4.5vw, 64px);
            line-height: clamp(42px, 5.5vw, 76px);
            padding-top: 16px;
            margin-bottom: 20px;
        }

        .hero-content h2 {
            color: #cbd5e1;
            font-size: 18px;
            line-height: 28px;
            padding-bottom: 28px;
            font-weight: 500;
            margin: 0;
        }

        .hero-description {
            max-width: 550px;
            margin-bottom: 35px;
        }

        .hero-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-bottom: 35px;
        }

        .cons-btn {
            border-radius: 50px;
            background-color: white;
            color: #3b1baa;
            font-size: 16px;
            line-height: 16px;
            font-weight: 700;
            transition: 0.3s;
            position: relative;
            padding: 8px 8px 8px 20px;
            display: inline-block;
            text-transform: uppercase;
        }

        .social-numbers {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .social-numbers span {
            display: flex;
            justify-content: space-between;
            font-size: 40px;
            align-items: start;
            padding-right: min(45px, 4vw);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            margin-right: 85px;
            text-align: start;
            margin-top: 20px;
        }

        .social-h4 {
            font-size: 18px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 500;
            margin-top: 15px;
        }

        .hero-img {
            flex: 1;
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .width-img img {
            position: absolute;
            object-fit: cover;
            max-width: 100%;
        }

        .img-grid {
            background-color: white;
            position: absolute;
            color: black;
            bottom: 130px;
            right: min(260px, 20%);
            border-radius: 8px;
            padding: 24px;
            width: 100%;
            max-width: 313px;
        }

        /* --- SECTION 2 (ABOUT) --- */
        .main-section {
            margin: auto;
            padding: 6.25rem min(6.25rem, 6%) 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3.75rem;
            overflow: hidden;
            background: white;
        }

        .left-side {
            position: relative;
            width: 50%;
        }

        .top-image {
            position: absolute;
            left: 2rem;
            top: 2rem;
            z-index: 1;
            max-width: 100%;
        }

        @keyframes vlbounce {
            0% {
                transform: translateY(-20%);
            }

            50% {
                transform: translateY(20%);
            }

            100% {
                transform: translateY(-20%);
            }
        }

        .shapes .shape1 {
            position: absolute;
            right: 5%;
            animation: vlbounce 5s linear infinite;
        }

        .shapes .shape2 {
            position: absolute;
            top: 30%;
            right: 10%;
            animation: vlbounce 5s linear infinite;
        }

        .shapes .shape3 {
            position: absolute;
            top: 25%;
            animation: vlbounce 5s linear infinite;
        }

        @keyframes vlspin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .fan {
            position: absolute;
            top: 15%;
            left: 47%;
            width: 50%;
        }

        .fan img {
            width: 100%;
            height: auto;
            animation: vlspin 12s linear infinite;
        }

        .main-image {
            position: relative;
            left: min(9.375rem, 15vw);
            width: 60%;
        }

        .main-image img {
            width: 100%;
            height: clamp(18rem, 35vw, 31.25rem);
            object-fit: cover;
            display: block;
            border-radius: 0.5rem;
        }

        .bottom-badge {
            position: relative;
            left: min(22.5rem, 65vw);
            top: -9.5rem;
            width: fit-content;
        }

        .bottom-badge h3 {
            position: absolute;
            bottom: min(6.875rem, 15%);
            left: min(2.8125rem, 10%);
            font-size: clamp(1.5rem, 3.5vw, 3rem);
            text-align: center;
            font-weight: 600;
            bottom: 7rem;
            left: 2.25rem;
        }

        .bottom-badge h3 span {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .right-side {
            width: 40%;
            margin-right: min(7rem, 8vw);
            margin-bottom: min(10rem, 12vw);
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .tag {
            display: inline-block;
            width: fit-content;
            padding: 0.3rem 1rem;
            border-radius: 50px;
            background: #f4f2fa;
            color: #4f46e5;
            font-size: 1rem;
            font-weight: 500;
        }

        .right-side h2 {
            font-size: clamp(1.8rem, 3.5vw, 2.75rem);
            line-height: 1.2;
            font-weight: 600;
            color: #111827;
        }

        .description {
            color: #6b7280;
            font-size: 1.1rem;
            line-height: 1.8;
        }

        .cards {
            display: flex;
            gap: 1.5rem;
        }

        .card {
            background: #f7f7fa;
            padding: 1.5rem;
            border-radius: 1rem;
            width: 100%;
            max-width: 18rem;
        }

        .icon-box {
            width: 3rem;
            height: 3rem;
            border-radius: 0.75rem;
            background: #e0e7ff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.25rem;
        }

        .card h3 {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.75rem;
            color: #111827;
        }

        .card p {
            color: #6b7280;
            line-height: 1.75rem;
        }

        .about-btn {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 999px;
            background: #4338ca;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
        }

        .abt-btn-span {
            background: #edeaf8;
            height: 36px;
            width: 36px;
            color: #6c63ee;
            font-weight: bolder;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            margin-left: 6px;
        }

        /* --- SECTION 3 (SERVICES) --- */
        .section-services {
            background-color: #f4f5f8;
            color: black;
            padding-top: 100px;
            margin-top: 0;
            padding-left: min(100px, 6%);
            padding-right: min(100px, 6%);
        }

        .sec-title {
            text-align: center;
        }

        .sec-title span {
            padding: 12px 12px;
            background-color: #eae9f3;
            color: #3b1baa;
            text-transform: uppercase;
            border-radius: 50px;
            margin: 0;
            font-size: 16px;
            line-height: 16px;
        }

        .sec-title h1 {
            font-size: clamp(24px, 4vw, 44px);
            line-height: clamp(32px, 5vw, 52px);
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .service-cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 25px;
            padding-bottom: 100px;
        }

        .service-card {
            background: #ffffff;
            padding: 32px 24px;
            border-radius: 0.5rem;
            width: 100%;
            max-width: 420px;
            min-height: 320px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: 0.3s;
        }

        .service-card::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #4f46e5, #7c3aed);
            transition: 0.4s ease;
            z-index: -1;
        }

        .service-card:hover::before {
            left: 0;
        }

        .service-card:hover {
            color: white;
        }

        .service-card:hover h3,
        .service-card:hover p {
            color: white;
        }

        .service-icon {
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
            background: #e0e7ff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.25rem;
        }

        .service-card h3 {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.75rem;
            color: #111827;
        }

        .service-card p {
            color: #6b7280;
            line-height: 1.75rem;
            font-size: 18px;
            padding-bottom: 24px;
        }

        .service-btn {
            font-size: 18px;
            font-weight: 700;
        }

        /* --- SECTION 4 (CASE STUDY) --- */
        .section-case {
            background-color: white;
            color: black;
            padding-top: 100px;
            padding-left: min(100px, 6%);
            padding-right: min(100px, 6%);
        }

        .case-title {
            text-align: center;
        }

        .case-title span {
            padding: 12px 12px;
            color: #3b1baa;
            text-transform: uppercase;
            border-radius: 50px;
            font-size: 16px;
            line-height: 16px;
            background-color: #f4f2fa;
        }

        .case-title h1 {
            font-size: clamp(24px, 4vw, 44px);
            line-height: clamp(32px, 5vw, 52px);
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .case-cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 25px;
        }

        .case-card {
            position: relative;
        }

        .case-image-wrapper {
            position: relative;
            width: 100%;
            max-width: 420px;
            border-radius: 12px;
            overflow: hidden;
        }

        .case-card img {
            object-fit: cover;
            width: 100%;
            max-width: 100%;
            height: clamp(300px, 32vw, 450px);
            display: block;
            transition: transform 0.4s ease;
        }

        .card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(5, 12, 54, 0.65);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.4s ease;
            z-index: 2;
            cursor: pointer;
        }

        .overlay-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            transform: translateY(20px);
            transition: transform 0.4s ease;
        }

        .hexagon-bg {
            width: 70px;
            height: 70px;
            background-color: white;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .arrow-icon {
            width: 45px;
            height: 45px;
            background-color: #3b1baa;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 18px;
        }

        .read-more-text {
            color: #000000;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .case-image-wrapper:hover img {
            transform: scale(1.05);
        }

        .case-image-wrapper:hover .card-overlay {
            opacity: 1;
        }

        .case-image-wrapper:hover .overlay-content {
            transform: translateY(0);
        }

        .case-button {
            position: relative;
            bottom: 80px;
            left: min(3rem, 8%);
            background-color: white;
            padding: 15px 30px;
            text-align: center;
            border-radius: 8px;
            color: #050c36;
            font-size: clamp(16px, 1.5vw, 20px);
            font-weight: 700;

            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-height: 70px;

            width: 80%;
            border: none;
            cursor: pointer;
            white-space: normal;
            word-break: break-word;
            z-index: 5;
        }

        /* --- SECTION 5 (TESTIMONIALS) --- */
        .section-test {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 25px;
            background-color: #452ab9;
            padding: 100px min(100px, 6%);
        }

        .two-cards {
            grid-column: span 2 / span 2;
        }

        .sec-left span {
            padding: 12px 12px;
            background-color: rgba(255, 255, 255, 0.1);
            text-transform: uppercase;
            border-radius: 50px;
            margin: 0;
            font-size: 16px;
            line-height: 16px;
        }

        .sec-left h1 {
            font-size: clamp(24px, 4vw, 44px);
            line-height: clamp(32px, 5vw, 52px);
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .sec-left p {
            font-size: 18px;
            opacity: 0.8;
            line-height: 26px;
            padding-bottom: 2rem;
        }

        .sec-left button {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 700;
            position: relative;
            padding: 18px 16px;
            background-color: white;
            color: #8070d9;
            border-radius: 50px;
            text-align: center;
            text-transform: uppercase;
        }

        .sec-left-i {
            background-color: #eceaf8;
            height: 36px;
            width: 36px;
            color: #6c63ee;
            font-weight: bolder;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            margin-left: 6px;
        }

        .ben-card {
            background: #ffffff;
            padding: 32px 24px;
            border-radius: 0.5rem;
            margin-right: min(25px, 3%);
        }

        .card-star {
            color: #6f55d5;
            font-size: 24px;
            padding-bottom: 20px;
        }

        .ben-card p {
            font-size: clamp(16px, 2vw, 20px);
            font-weight: 600;
            line-height: 32px;
            color: #111112;
            opacity: 0.9;
        }

        .ben {
            display: flex;
            align-items: center;
            padding-top: 20px;
            gap: 10px;
        }

        .ben img {
            border-radius: 50%;
        }

        .ben h2 {
            color: black;
            font-size: 18px;
            font-weight: 600;
            padding-left: 1rem;
        }

        .ben p {
            font-size: 1rem;
            padding-left: 1rem;
            color: black;
            opacity: 0.7;
        }

        .comma {
            margin-left: clamp(10px, 15vw, 140px);
        }

        /* --- SECTION 6 (PRICING) --- */
        .section-pricing {
            background-color: white;
            color: black;
            padding-top: 100px;
            margin-top: 0;
            padding-left: min(100px, 6%);
            padding-right: min(100px, 6%);
            padding-bottom: 100px;
        }

        .pricing-title {
            text-align: center;
            margin-bottom: min(130px, 12vw);
        }

        .pricing-title span {
            background-color: #f4f2fa;
            padding: 12px 12px;
            color: #3b1baa;
            text-transform: uppercase;
            border-radius: 50px;
            font-size: 16px;
            line-height: 16px;
        }

        .pricing-title h1 {
            font-size: clamp(24px, 4vw, 44px);
            line-height: clamp(32px, 5vw, 52px);
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .pricing-cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 25px;
        }

        .price-card {
            background-color: white;
            padding: 32px;
            border-radius: 8px;
            border: 1px solid rgba(17, 17, 18, 0.1);
            padding-top: 90px;
            width: 100%;
            max-width: 415px;
            max-height: 520px;
        }

        .price-middle-card {
            background-color: #330f9f;
            padding: 32px;
            border-radius: 8px;
            border: 1px solid rgba(17, 17, 18, 0.1);
            padding-top: 90px;
            position: relative;
            color: white;
            width: 100%;
            max-width: 415px;
            max-height: 520px;
        }

        .price-card p {
            font-size: 1rem;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 25px;
            opacity: 0.7;
        }

        .list li {
            margin-top: 25px;
            margin-bottom: 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
        }

        .list i {
            background-color: #3715a5;
            height: 20px;
            width: 20px;
            display: inline-block;
            line-height: 22px;
            text-align: center;
            border-radius: 50px;
            color: white;
            margin-right: 8px;
            font-size: 18px;
        }

        .list-middle i {
            background-color: white;
            height: 20px;
            width: 20px;
            display: inline-block;
            line-height: 22px;
            text-align: center;
            border-radius: 50px;
            color: #3715a5;
            margin-right: 8px;
            font-size: 18px;
        }

        .list-middle li {
            margin-top: 25px;
            margin-bottom: 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
        }

        .price-middle-card p {
            font-size: 1rem;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 25px;
            opacity: 0.7;
        }

        .price-middle-card-btn {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            padding: 0.5rem 0.8rem;
            border: none;
            border-radius: 999px;
            background: white;
            color: #3715a5;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
        }

        .price-btn {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 999px;
            background: #4338ca;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
        }

        .small-cards {
            position: relative;
            width: 100%;
            max-width: 275px;
            height: 130px;
            background-color: #3715a5;
            bottom: clamp(480px, 50vw, 550px);
            left: min(40px, 10%);
            border-radius: 8px;
            text-align: center;
        }

        .small-cards h3 {
            color: white;
            text-align: center;
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .small-cards h2 {
            font-size: 42px;
            line-height: 42px;
            font-weight: 700;
            color: white;
            letter-spacing: -1px;
            display: inline-block;
        }

        .small-cards span {
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -1px;
        }

        /* --- SECTION 7 (TEAM) --- */
        .section-team {
            background-color: #f4f5f8;
            padding: 100px min(100px, 6%);
        }

        .team-title {
            color: black;
        }

        .team-title span {
            background-color: #eae9f3;
            color: #3b1baa;
            text-transform: uppercase;
            border-radius: 50px;
            padding: 8px 12px;
            font-size: 16px;
            line-height: 16px;
            display: inline-block;
        }

        .team-title h1 {
            font-size: clamp(24px, 4vw, 44px);
            line-height: clamp(32px, 5vw, 52px);
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .image-card {
            position: relative;
        }

        .team-img-wrapper {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            width: 100%;
        }

        .image-card img {
            background-color: white;
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }

        .team-social-overlay {
            position: absolute;
            bottom: 0;
            left: 20px;
            width: 90%;
            padding: 15px 10px;
            box-sizing: border-box;
            background: linear-gradient(135deg, rgba(61, 27, 175, 0.85), rgba(108, 99, 238, 0.85));
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            transform: translateY(101%);
            transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
            border-radius: 0 0 8px 8px;
        }

        .image-card:hover .team-social-overlay {
            transform: translateY(0);
        }

        .social-icons-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }

        .social-icons-row a {
            background-color: rgba(255, 255, 255, 0.25);
            height: 40px;
            width: 40px;
            color: #ffffff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 16px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .social-icons-row a:hover {
            background-color: #ffffff;
            color: #3b1baa;
            transform: translateY(-3px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        .image-card h2 {
            color: black;
            text-align: center;
            font-size: clamp(20px, 2.5vw, 24px);
            margin-top: 20px;
            font-weight: 700;
        }

        .image-card p {
            font-size: clamp(16px, 1.5vw, 18px);
            color: black;
            text-align: center;
            opacity: 0.7;
            margin-top: 5px;
        }

        /* --- SECTION 8 (BLOG) --- */
        .section-blog {
            background-color: #fafafa;
            color: black;
            padding-top: 100px;
            padding-left: min(100px, 6%);
            padding-right: min(100px, 6%);
        }

        .blog-title {
            text-align: center;
        }

        .blog-title span {
            background-color: #f4f2fa;
            padding: 12px 12px;
            color: #3b1baa;
            text-transform: uppercase;
            border-radius: 50px;
            font-size: 16px;
            line-height: 16px;
        }

        .blog-title h1 {
            font-size: clamp(24px, 4vw, 44px);
            line-height: clamp(32px, 5vw, 52px);
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 3rem;
        }

        .blog-card {
            display: flex;
            gap: 25px;
            flex-wrap: wrap;
        }

        .blog-item {
            flex: 1;
            min-width: min(100%, 300px);
            position: relative;
        }

        .blog-item img {
            width: 100%;
            display: block;
            border-radius: 8px;
        }

        .card-content {
            background-color: white;
            width: 90%;
            max-width: 600px;
            padding: 24px;
            border-radius: 0 0 8px 8px;
            position: relative;
            z-index: 2;
            bottom: clamp(50px, 10vw, 100px);
            min-height: 250px;
        }

        .blog-icons {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        .icon-item {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            color: #666;
        }

        .icon-item img {
            width: 18px;
            height: 18px;
        }

        .card-content h2 {
            font-size: clamp(18px, 2.5vw, 22px);
            line-height: 1.4;
            margin-bottom: 10px;
            color: #111112;
        }

        .card-content p {
            font-size: clamp(16px, 1.5vw, 18px);
            line-height: clamp(22px, 3vw, 28px);
            color: #666;
            margin-bottom: 1rem;
        }

        .blog-btn {
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
        }

        .right-icon {
            background: #111112;
            height: 60px;
            width: 60px;
            display: block;
            color: #fff;
            line-height: 60px;
            text-align: center;
            border-radius: 50px;
            font-size: 30px;
            position: absolute;
            right: min(-20px, -2vw);
            top: -20px;
            overflow: hidden;
        }

        /* --- FOOTER --- */


        .last-section {
            display: flex;
            flex-wrap: wrap;
            background: linear-gradient(90deg, #2E0797 0%, #726EFC 100%);
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            justify-content: space-between;
            border-radius: 24px;
            padding: 3rem 3rem 0 3rem;
            position: relative;
            z-index: 10;
            margin-bottom: -150px;
            margin-top: 100px;
            box-sizing: border-box;
            overflow: hidden;
        }

        .banner-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-bottom: 3rem;
            flex: 1;
            min-width: 280px;
        }

        .cta-text>h2 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 3.5rem;
            padding-bottom: 2rem;
            color: white;
            margin: 0;
        }

        .cta-form {
            position: relative;
            z-index: 1;
            max-width: 480px;
            width: 100%;
        }

        .cta-form input {
            padding: 1rem 11rem 1rem 1.5rem;
            height: 4rem;
            width: 100%;
            border-radius: 3rem;
            border: none;
            outline: none;
            box-sizing: border-box;
            font-size: 1rem;
        }

        .subscribeBtn {
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            z-index: 2;
        }



        .contact {
            background-color: white;
            color: #2E0797;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            padding: 0.4rem 0.4rem 0.4rem 1.2rem;
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            position: relative;
            border-radius: 3rem;
            overflow: hidden;
            z-index: 1;
            transition: color 0.4s ease;
        }

        .contact::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 100%;
            background: linear-gradient(90deg, #2E0797 0%, #726EFC 100%);
            z-index: -1;
            transition: width 0.4s ease-in-out;
        }

        .contact:hover::before {
            width: 100%;
        }


        .contact:hover {
            color: white;
        }


        .right-nav .contact>span,
        .contact.hero-btn>span {
            background: linear-gradient(90deg, rgb(235, 232, 246) 0%, rgb(240, 239, 253) 100%);
            height: 36px;
            width: 36px;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            font-size: 20px;
            color: #2E0797;
            transform: rotate(-45deg);
            margin-left: 6px;
            transition: 0.4s ease;
        }


        .subscribeBtn button.contact.subscribe {
            height: calc(4rem - 12px);
            margin: 0 !important;
            padding: 0 1.5rem;
            white-space: nowrap;
            display: inline-flex;
            align-items: center;
            border-radius: 3rem;
            border: none;
            background-color: #2E0797;
            color: white;
            cursor: pointer;
            font-weight: 600;
        }

        .banner-right {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex: 1;
            min-width: 280px;
            position: relative;
        }

        .banner-right img {
            max-height: 320px;
            width: auto;
            max-width: 100%;
            display: block;
            object-fit: contain;
        }


        .shape3.sh {
            position: absolute;
            right: 35%;
            top: 20%;
            z-index: 1;
            animation: vlbounce 5s linear infinite;
        }


        @keyframes vlbounce {
            0% {
                transform: translateY(-20%);
            }

            50% {
                transform: translateY(20%)
            }

            100% {
                transform: translateY(-20%);

            }

        }

        .site-footer {
            background-color: #F6F6F9;
            width: 100%;
            padding: 240px 10% 4rem 10%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            box-sizing: border-box;
        }

        .footer-col {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        .footer-logo img {
            max-width: 150px;
            height: auto;
        }

        .brand-col p {
            color: #666;
            font-size: 1rem;
            line-height: 1.6rem;
            margin: 0;
        }

        .social-icons {
            display: flex;
            gap: 12px;
        }

        .social-icons a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            color: #2E0797;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1.1rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;
        }

        .social-icons a:hover {
            background-color: #2E0797;
            color: #fff;
        }

        .footer-col h3 {
            color: #000;
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .links-col ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }

        .links-col ul li a {
            color: rgba(22, 22, 22, 0.7);
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;
        }

        .links-col ul li a:hover {
            color: #726EFC;
        }

        .insta-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;
            max-width: 240px;
        }

        .insta-item {
            aspect-ratio: 1 / 1;
            border-radius: 6px;
            overflow: hidden;
            background-color: #222;
        }

        .insta-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }


        .bottom-footer {
            background-color: #F6F6F9;
            border-top: 1px solid #DDDEE1;
            width: 100%;
            padding: 24px 0;
            color: black;
            opacity: 0.7;
        }

        .bottom-footer-container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }



        @media (max-width: 1200px) {
            .site-footer {
                padding-left: 5%;
                padding-right: 5%;
            }

            .bottom-footer-container {
                width: 90%;
            }
        }

        @media (max-width: 992px) {
            .site-footer {
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
            }

            .cta-text>h2 {
                font-size: 2.5rem;
                line-height: 3rem;
            }
        }

        @media (max-width: 768px) {
            .last-section {
                width: 92%;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 3rem 1.5rem 0 1.5rem;
                margin-bottom: -180px;
            }

            .banner-left {
                align-items: center;
                width: 100%;
                padding-bottom: 2rem;
            }

            .cta-text>h2 {
                font-size: 2.2rem;
                line-height: 2.8rem;
                padding-bottom: 1.5rem;
            }

            .banner-right {
                width: 100%;
            }

            .banner-right img {
                max-height: 280px;
            }

            .site-footer {
                grid-template-columns: repeat(2, 1fr);
                padding-top: 240px;
            }

            .bottom-footer-container {
                flex-direction: column;
                gap: 12px;
                text-align: center;
            }

            .shape3.sh {
                display: none;
            }
        }

        @media (max-width: 520px) {
            .site-footer {
                grid-template-columns: repeat(2, 1fr);
                padding-top: 280px;
                gap: 2.5rem 1.5rem;
            }

            .footer-col.brand-col,
            .footer-col.insta-col {
                grid-column: span 2;
            }

            .footer-col.links-col {
                grid-column: span 1;
            }

            .last-section {
                margin-bottom: -240px;
            }

            .cta-form input {
                padding: 1rem;
                border-radius: 12px;
                text-align: center;
                height: 3.5rem;
            }

            .subscribeBtn {
                position: static;
                transform: none;
                margin-top: 12px;
                width: 100%;
            }

            .subscribeBtn button.contact.subscribe {
                width: 100%;
                justify-content: center;
                border-radius: 12px;
                height: 3.5rem;
            }

            .insta-grid {
                max-width: 100%;
                grid-template-columns: repeat(3, 1fr);
            }

        }

        @media (max-width: 1200px) {
            header {
                width: 90%;
                left: 5%;
                margin-left: 0;
                margin-right: 0;
            }
        }

        @media (max-width: 991px) {
            header {
                width: 92%;
                left: 4%;
                top: 15px;
            }

            nav {
                padding: 10px 15px;
            }

            .menu-btn {
                display: block;
            }

            .nav-links {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #5032b7;
                padding: 20px;
                border-radius: 0 0 8px 8px;
                gap: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            }

            .nav-links.active {
                display: flex;
            }

            .started-btn {
                width: 100%;
                text-align: center;
                padding: 10px 20px;
            }

            /* Hero Section */
            .hero {
                flex-direction: column;
                padding: 120px 5% 40px 5%;
                gap: 40px;
                text-align: center;
            }

            .hero-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .hero-description {
                margin-left: auto;
                margin-right: auto;
            }

            .hero-buttons {
                justify-content: center;
            }

            .social-numbers {
                justify-content: center;
                gap: 30px;
            }

            .social-numbers span {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
                flex-direction: column;
                align-items: center;
            }

            .hero-img {
                width: 100%;
                max-height: 400px;
            }

            .img-grid {
                bottom: 50px;
            }

            .fan {
                top: 60%;
                left: 2%;
                width: 100%;
            }

            .shapes .shape1 {
                bottom: 22%;
            }

            .shapes .shape2 {
                top: 55%;
            }

            .shapes .shape3 {
                top: 65%;
                right: 80%;
            }


            /* Section 2 (About) */
            .main-section {
                flex-direction: column;
                padding: 60px 5% 0;
                gap: 40px;
            }

            .left-side {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .top-image {
                display: none;
            }

            .main-image {
                left: 0;
                width: 100%;
                max-width: 500px;
            }

            .main-image img {
                height: 500px;
                aspect-ratio: 4/3;
            }

            .bottom-badge {
                position: relative;
                left: 40px;
                margin: 0 auto;
            }

            .bottom-badge h3 {
                position: relative;
                padding: 20px;
                text-align: center;
                bottom: 180px;
                left: 0;
            }

            .right-side {
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                text-align: left;
                align-items: center;
                margin-top: -250px;
            }

            .right-side h2 {
                padding-right: 22px;
            }

            .tag {
                margin: 0 auto;
            }

            .cards {
                width: 100%;
                justify-content: center;
            }

            .about-btn {
                align-items: center;
                margin-right: 160px;
            }

            /* Services Section */
            .section-services {
                padding-top: 60px;
                padding-left: 5%;
                padding-right: 5%;
            }

            .service-cards {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                padding-bottom: 60px;
            }

            /* Case Section */
            .section-case {
                padding-top: 60px;
                padding-left: 5%;
                padding-right: 5%;
            }

            .case-cards {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 20px;
            }

            .case-button {
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }

            /* Testimonials Section */
            .section-test {
                grid-template-columns: 1fr;
                padding: 60px 5%;
            }

            .two-cards {
                grid-column: span 1;
            }

            .sec-left h1 {
                font-size: 27px;
                line-height: 36px;
                white-space: normal;
                word-break: break-word;
                overflow-wrap: break-word;
            }

            .sec-left p {
                padding-bottom: 1.5rem;
            }

            .ben-card {
                margin-right: 0;
                margin-bottom: 20px;
            }

            .comma {
                margin-left: 0;
                display: block;
                margin-top: 15px;
                text-align: right;
            }

            /* Pricing Section */

            .section-pricing {
                height: 2150px;
            }

            .pricing-title {
                margin-bottom: 40px;
            }

            .pricing-cards {
                grid-template-columns: 1fr;
                justify-items: center;
                gap: 40px;
            }

            .price-card,
            .price-middle-card {
                max-width: 100%;
                padding-top: 100px;
                margin-bottom: 100px;
            }

            .small-cards {
                position: relative;
                margin: 20px auto 0;
                bottom: 580px;
                left: 0;
            }

            /* Team Section */
            .section-team {
                padding: 60px 5%;
            }

            .image-grid {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            /* Blog Section */
            .section-blog {
                padding-top: 60px;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 100px;
            }

            .blog-card {
                justify-content: center;
            }

            .card-content {
                width: 95%;
                bottom: 30px;
                margin: 0 auto -30px;
                padding: 20px;
                min-height: auto;
            }

            .right-icon {
                right: 10px;
                top: -30px;
            }

            /* Footer Section */
            .main-footer {
                width: 90%;
                padding: 40px 5%;
                bottom: 60px;
                flex-direction: column;
                align-items: center;
                text-align: center;
                min-height: auto;
            }

            .footer-title h1 {
                padding-bottom: 20px;
            }

            .footer-form {
                width: 100%;
            }

            .footer-btn {
                position: static;
                margin: 15px auto 0;
                width: 100%;
                max-width: 250px;
            }

            .footer-grid {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                padding-left: 5%;
                padding-right: 5%;
                bottom: 30px;
            }

            .footer-links {
                margin-left: 0;
            }
        }

        @media (max-width: 768px) {
            .footer-copyright {
                flex-direction: column;
                text-align: center;
                margin-left: 0;
                padding-right: 0;
                padding-top: 15px;
                padding-bottom: 30px;
            }
        }

        /* Small Mobile Screens */
        @media (max-width: 576px) {
            .hero-img {
                min-height: 300px;
            }

            .img-grid {
                right: auto;
                transform: none;
                margin: 20px auto 0;
                width: 100%;
            }



            .cards {
                flex-direction: column;
                align-items: center;
            }

            .card {
                max-width: 100%;
            }

            .service-cards {
                grid-template-columns: 1fr;
            }

            .case-cards {
                grid-template-columns: 1fr;
            }

            .case-card img {
                height: 450px;
            }

            .case-button {
                position: relative;
                margin: -40px 70px 30px auto;
                width: 100%;
                max-width: 300px;
            }

            .image-grid {
                grid-template-columns: 1fr;
            }

            .footer-grid {
                grid-template-columns: 1fr;
                text-align: center;
                justify-items: center;
                gap: 35px;
            }

            .footer-social-icons {
                justify-content: center;
            }

            .footer-image-grid {
                justify-content: center;
                max-width: 250px;
                margin: 15px auto 0;
            }
        }
